<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <style>

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    width: 960px;
  }

  form {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  </style>

  {% block head %}{% endblock %}

</head>
<body>
<div>
  <a href="{{ url_for('index') }}"><button>Home</button></a>
  <a href="/form"><button>Form</button></a>
</div>
<br>
{% block body %}{% endblock %}

</body>
</html>
